@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-rgb: 255, 255, 255;

	--contrast: #f56f2c;
	--contrast-light: #ffaf87;
	--contrast-max-light: #ffe1d2;

	--card-gray: #59595e;
	--card-gray-light: #adadaf;

	--card-blue: #420cda;
	--card-blue-light: #6b6bf8;

	--card-yellow: #cad34f;
	--card-yellow-light: #d5db7f;

	--card-green: #4ccf48;
	--card-green-light: #9cd49a;

	--background-shadow: #e9e9e9;

	--max-width-app: 1200px;
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-rgb: 0, 0, 0;
		--contrast: #18efa2;
		--contrast-light: #6efcca;
		--contrast-max-light: #bfffe9;

		--card-gray: #59595e;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
}

.hero-grid {
	grid-template-areas:
		'a b b c'
		'a d e c';
}

.hero-image-1 {
	grid-area: a;
}

.hero-image-2 {
	grid-area: b;
}

.hero-image-3 {
	grid-area: c;
}

.hero-image-4 {
	grid-area: d;
}

.hero-image-5 {
	grid-area: e;
}

@keyframes toast {
	0% {
		transform: translateY(0%);
	}
	15% {
		transform: translateY(150%);
	}
	85% {
		transform: translateY(150%);
	}
	100% {
		transform: translateY(0%);
	}
}

.toast-animation {
	animation: toast ease 3s;
}

@keyframes slide-up {
	from {
		opacity: 0;
		transform: translateY(5%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

.slide-up-animation {
	animation: slide-up ease 1s forwards;
}

.animation-delay-200 {
	animation-delay: 0.2s;
}

.animation-delay-400 {
	animation-delay: 0.4s;
}

.animation-delay-600 {
	animation-delay: 0.6s;
}

.animation-delay-800 {
	animation-delay: 0.8s;
}

@keyframes show {
	from {
		opacity: 0;
		transform: translateY(55%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

.intersection-animation {
	view-timeline-name: --show;
	view-timeline-axis: block;

	animation-timeline: --show;
	animation-name: show;
	animation-range: entry 20% cover 60%;
	animation-fill-mode: both;
}

.small-intersection-animation {
	view-timeline-name: --show;
	view-timeline-axis: block;

	animation-timeline: --show;
	animation-name: show;
	animation-range: entry 5% cover 40%;
	animation-fill-mode: both;
}

.exploring-grid {
	grid-template-areas:
		'a b c'
		'a d c';
}

.exploring-image-1 {
	grid-area: a;
}

.exploring-image-2 {
	grid-area: b;
}

.exploring-image-3 {
	grid-area: c;
}

.exploring-image-4 {
	grid-area: d;
}

.bg-blur {
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
}

@keyframes fade-in {
	from {
		opacity: 0;
		display: none;
	}
	to {
		opacity: 1;
		display: block;
	}
}

.fade-in-animation {
	animation: fade-in ease 1s forwards;
}
